body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  padding: 30px;
  background: #f2f2f2;
}

.container {
  width: 400px;
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-box {
  border: 2px dashed #999;
  padding: 30px;
  cursor: pointer;
  margin-top: 20px;
}

.upload-box:hover {
  background-color: #f9f9f9;
}

#fileInput {
  margin-top: 10px;
}

#preview-box {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#preview-box img {
  max-width: 120px;
  max-height: 120px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ccc;
}


#preview {
  max-width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.controls {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.controls label {
  display: flex;
  gap: 10px;
  align-items: center;
}

.controls input[type="number"] {
  width: 80px;
}

#compressBtn {
  padding: 10px 20px;
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

#compressBtn:hover {
  background-color: #16a085;
}

#clearBtn {
  padding: 10px 20px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#clearBtn:hover {
  background-color: #c0392b;
}


.modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
}

#modalCaption {
  text-align: center;
  color: #fff;
  padding: 10px;
}

.close {
  position: absolute;
  top: 30px;
  right: 40px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}


